In [1]:
# !pip3 install openai
!pip3 install os
!pip3 install pandas
!pip3 install sqlalchemy
!pip install openai==0.28

import openai
import os
import pandas as pd
from sqlalchemy import create_engine, text

os.environ["API_KEY"] = "<OPENAI_API_KEY>"
openai.api_key = os.getenv("API_KEY")

# print(openai.api_key)

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os
Requirement already satisfied: pandas in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: openai==0.28 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (0.28.0)
Requirement already satisfied: requests>=2.20 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from openai==0.28) (2.32.3)
Requirement already satisfied: tqdm in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from openai==0.28) (4.66.4)
Requirement already satisfied: aiohttp in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from openai==0.28) (3.9.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from requests>=2.20->openai==0.28) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from requests>=2.20->openai==0.28) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from requests>=2.20->openai==0.28) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from requests>=2.20->openai==0.28) (2024.7.4)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from aiohttp->openai==0.28) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from aiohttp->openai==0.28) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from aiohttp->openai==0.28) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from aiohttp->openai==0.28) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/anshul/anaconda3/envs/jupy-nb/lib/python3.12/site-packages (from aiohttp->openai==0.28) (1.9.4)

In [2]:
csv_file_path = '/Users/anshul/_learning/ai/coursera-aiSQLQueries/customer_orders.csv'
data_frame = pd.read_csv(csv_file_path)
# print(data_frame)
# print(data_frame.head())
# print(data_frame.dtypes)
print(data_frame.columns)

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [3]:
engine = create_engine('sqlite:///:memory:', echo=True)
data_frame.to_sql("SalesTable", engine)

2024-09-24 11:44:36,883 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-24 11:44:36,886 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SalesTable")
2024-09-24 11:44:36,886 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 11:44:36,887 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SalesTable")
2024-09-24 11:44:36,887 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 11:44:36,888 INFO sqlalchemy.engine.Engine
CREATE TABLE "SalesTable" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2024-09-24 11:44:36,888 INFO sqlalchemy.engine.Engine [no key 0.00034s] ()
2024-09-24 11:44:36,890 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_SalesTable_index" ON "SalesTable" ("index")
2024-09-24 11:44:36,890 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2024-09-24 11:44:36,911 INFO sqlalchemy.engine.Engine INSERT INTO "SalesTable" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-09-24 11:44:36,912 INFO sqlalchemy.engine.Engine [generated in 0.01394s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2024-09-24 11:44:36,920 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-09-24 11:44:36,920 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-24 11:44:36,920 INFO sqlalchemy.engine.Engine COMMIT

2823

In [4]:
def execute_sql_query(connection, query):
    result_obj = connection.execute(text(query))
    return result_obj.fetchall()

In [5]:

with engine.connect() as conn:
    sales_sum_result = execute_sql_query(conn, "Select sum(sales) from SalesTable")
    print(f"Sum of sales: {sales_sum_result}")

2024-09-24 11:44:36,927 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-24 11:44:36,927 INFO sqlalchemy.engine.Engine Select sum(sales) from SalesTable
2024-09-24 11:44:36,928 INFO sqlalchemy.engine.Engine [generated in 0.00072s] ()
Sum of sales: [(10032628.85,)]
2024-09-24 11:44:36,928 INFO sqlalchemy.engine.Engine ROLLBACK

In [6]:
def table_schema_prompt(df):
    columns = ", ".join(df.columns)
    return f"### SQLite Table Schema: \n# SalesTable({columns}) \n"

def get_user_input():
    return input("Enter your query: ")

def full_prompt(df, user_prompt):
    schema_prompt = table_schema_prompt(df)
    return f"{schema_prompt}### Query to answer: {user_prompt}\n SELECT"

user_prompt = get_user_input()
complete_prompt = full_prompt(data_frame, user_prompt)

print(complete_prompt)

Enter your query:  get sum of all sales

### SQLite Table Schema:
# SalesTable(ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1, ADDRESSLINE2, CITY, STATE, POSTALCODE, COUNTRY, TERRITORY, CONTACTLASTNAME, CONTACTFIRSTNAME, DEALSIZE)
### Query to answer: get sum of all sales
 SELECT

In [12]:
response = openai.Completion.create(
    model="gpt-3.5-turbo-instruct",
    prompt=complete_prompt,
    temperature=0,
    max_tokens=150
)

def process_repsonse(res):
    raw_query = res['choices'][0]['text'].strip()
    if not raw_query.upper().startswith("SELECT"):
        raw_query = f"SELECT {raw_query}"
    return raw_query

In [19]:
final_query = process_repsonse(response)

In [20]:
with engine.connect() as conn:
    final_results = execute_sql_query(conn, final_query)
print(f"Final results: {final_results}")

2024-09-24 11:53:15,653 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-24 11:53:15,654 INFO sqlalchemy.engine.Engine SELECT SUM(SALES) FROM SalesTable;
2024-09-24 11:53:15,654 INFO sqlalchemy.engine.Engine [generated in 0.00187s] ()
2024-09-24 11:53:15,661 INFO sqlalchemy.engine.Engine ROLLBACK
Final results: [(10032628.85,)]